:root{
    --blue-port: #05097c;
}

.link-sidebar{
    position: relative; /* Asegura que el elemento ::after se posicione correctamente */
    color: black;
    transition: color 0.4s ease; /* Transición solo para el cambio de color */
    text-decoration: none;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
.link-sidebar:hover{
    color: var(--blue-port);
    transition: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.link-sidebar-admin:hover{
    color: var(--blue-port);
    transition: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}


.link-sidebar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajusta la posición vertical de la línea */
    width: 0; /* Inicialmente, la línea tendrá longitud 0 */
    height: 2px; /* Grosor de la línea */
    background-color: var(--blue-port); /* Color de la línea */
    transition: width 0.4s ease; /* Transición solo para el ancho de la línea */
}

.link-sidebar:hover::after {
    width: 100%; /* Cuando se pasa el ratón por encima, la línea se extiende al 100% */
}
.link-sidebar:active{
    color: var(--blue-port);
}
.active {
    color: var(--blue-port);
}

.dow-cv{
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid rgb(199 210 254);;
    color: gray;
    background-color: #EEF2FF;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    fontFamily: 'ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
}


.dow-cv:hover{
    color: white;
    background-color:var(--blue-port) ;
    transition: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.name-sections{
    font-weight: bolder;
    color: #5a656e;
    font-family: "Playfair Display", serif;
}
.border-name{
    border-bottom: 1px solid var(--blue-port); /* Ajusta el color de la línea según tu preferencia */
    border-bottom-width: medium;
    width: 60px;
}

.text-style{
    font-family: "Open Sans", sans-serif;
    color: #5a656e;
    font-size: 18px;
    text-align: justify;
}